## Conjuntos, Listas, Diccionarios, Matrices y más

---
Este cuaderno explica diferentes formas de manejar estructuras de datos como conjuntos (sets), listas, listas anidadas, diccionarios, matrices, entre otras.

---

In [ ]:
animals = {'cat', 'dog', 'goldfish', 'canary', 'cat'}
print(animals) # El conjunto solo contiene un elemento 'cat', ya que los sets eliminan duplicados automáticamente

{'cat', 'dog', 'goldfish', 'canary'}

In [ ]:
even_numbers = {2, 4, 6, 8, 10}
big_numbers = {6, 7, 8, 9, 10}

 # Diferencia: se imprimen los elementos de 'big_numbers' que no están en 'even_numbers'
print(big_numbers - even_numbers)

# Unión: se imprimen todos los elementos que están en al menos uno de los conjuntos
print(big_numbers | even_numbers)

# Intersección: se imprimen los elementos que están en ambos conjuntos
print(big_numbers & even_numbers)

{9, 7}
{2, 4, 6, 7, 8, 9, 10}
{8, 10, 6}

In [ ]:
print(animals) #imprime la lista
print(sorted(animals)) #imprime la lista en orden alfabetico

{'cat', 'dog', 'goldfish', 'canary'}
['canary', 'cat', 'dog', 'goldfish']

In [ ]:
# esto es un diccionario vacio
a = {}
#esto es un set vacio
b = set()

In [ ]:
 #imprime los enteros entre 0 y 9
print(list(range(10)))

 #imprime enteros desde 1 hasta 10
print(list(range(1, 11)))

#imprime enteros de 1 a 10 de dos en dos
print(list(range(1, 11, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [ ]:
animals = ['cat', 'dog', 'goldfish', 'canary', 'cat']

animals_set = set(animals)  #convierte la lista en un conjunto y elimina los repetidos
print(animals_set)
animals_unique_list = list(animals_set) #convierte el conjunto en una lista y como se elimino el otro elemtro repetido con el conjunto, no aparece
print(animals_unique_list)
animals_unique_tuple = tuple(animals_unique_list)  #convierte la lista en una tupla
print(animals_unique_tuple)

{'cat', 'dog', 'goldfish', 'canary'}
['cat', 'dog', 'goldfish', 'canary']
('cat', 'dog', 'goldfish', 'canary')

In [ ]:
marbles = {"red": 34, "green": 30, "brown": 31, "yellow": 29 }

colours = list(marbles) # the keys will be used by default  #las claves se usan como los defaults
print(colours)
counts = tuple(marbles.values()) # but we can use a view to get the values #usa los valores
print(counts)
marbles_set = set(marbles.items()) # or the key-value pairs #usa la clave y los valores

['red', 'green', 'brown', 'yellow']
(34, 30, 31, 29)

In [ ]:
# problema a verificar
#dict([1, 2, 3, 4])

#solucion 1
lista = [1, 2, 3, 4]
diccionario1 = dict([(lista[i], lista[i+1]) for i in range(0, len(lista), 2)]) #itera de dos en dos y forma pares, el dict trasforma eso en diccionario
print(diccionario1)  # Salida: {1: 2, 3: 4}

#solucion 2
lista = [1, 2, 3, 4, 5, 6]
claves = lista[::2]  # [2, 4]  toma los valores en los indices pares
valores = lista[1::2]  # [1, 3] toma los valores en los elementos impares
diccionario2 = dict(zip(claves, valores)) #combina las claves con los valores
print(diccionario2)  # Salida: {1: 2, 3: 4}

# but this will work
dict([(1, 2), (3, 4)])

{1: 2, 3: 4}
{1: 2, 3: 4, 5: 6}

{1: 2, 3: 4}

In [ ]:
s = "abracadabra"  #define el string

print(len(s))  #imprime la longitud del string
print(s.index("a"))  #encuentra el indice de la primera aparicion de "a"

print(s[0])  #salida:a
print(s[3:5])  #imprime los indices desde el 3 hasta el 5 sin contar

11
0
a
ac

In [ ]:
print('h' in 'abcd') #verifica si "h " esta en el string

In [ ]:
# this doesn't work for lists  #no funciona para buscar sublista en una lista, busca si a,b existe como elemento individual en la lista
print(['a', 'b'] in ['a', 'b', 'c', 'd']) # False

False

In [ ]:
abc_list = list("abracadabra")  #convierte cada caracter del string en un elemento de la lista
print(abc_list) #impirme la lista

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

In [ ]:
l = ['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']  #define la lista

s = "".join(l)  #une la lista con "", es decir sin nada
print(s) #imprime el resultado

abracadabra

In [ ]:
animals = ('cat', 'dog', 'fish') #define la lista

In [ ]:
print(" ".join(animals))  #primero une los elementos de la lista con " ", es decir un espacio y lo imprime

cat dog fish

In [ ]:
# a comma-separated list
print(",".join(animals))

cat,dog,fish

In [ ]:
# a comma-separated list with spaces separa la lista con ", ", es decir: coma y espacio
print(", ".join(animals))  #lo imprime

cat, dog, fish

In [ ]:
print("cat    dog fish\n".split())  #divide el string por espacios en blanco, elimina los espacios extra y devuelve una lista por palabras

['cat', 'dog', 'fish']

In [ ]:
print("cat|dog|fish".split("|"))  #divide el string cada vez que haya un |

['cat', 'dog', 'fish']

In [ ]:
print("cat, dog, fish".split(", ")) #divide el string cada vez que haya una ,

['cat', 'dog', 'fish']

In [ ]:
print("cat, dog, fish, hamster".split(", ",3))  #debe explicacion #indica cuantas divisiones se deben hacer teniendo en cuenta el numero de , en el string original

['cat', 'dog', 'fish', 'hamster']

matrices

In [ ]:
my_table = [   #crea una matriz de 4 filas por 3 columnas
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12],
]

In [ ]:
print(my_table[0][0])  #selecciona la primera fila y accede al primer elemento de esa fila

1

In [ ]:
my_table[0][0] = 42  #asigna el valor 42 al elemeto en la primera fila(indice 0) y primera columna (indice 0)
print(my_table)   #imprime la matriz actualizada

[[42, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [ ]:
my_2d_list = [
    [0],             #se define una lista 2d donde cada sublista tiene diferente logitud, siendo una lista irregular
    [1, 2, 3, 4],
    [5, 6],
]
print(my_2d_list)   #imprime la lista completa

[[0], [1, 2, 3, 4], [5, 6]]

listas de listas

In [ ]:
my_3d_list = [        #crea una lista 3d(lista de listas)
    [[1, 2], [3, 4]],   #primer bloque 2d
    [[5, 6], [7, 8]],   #segundo bloque
]
print(my_3d_list[0][0][0])  #imprime el elemento en la posicion [0][0][0](primer bloque, primera fila, primera columna )

1

In [ ]:
my_long_list = [0] * 100 # crea una lista con 100 ceros usando *
print(my_long_list)  #impirme la lista creada, que son 100 ceros

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
day = [""] * 24  #crea una lista de elemento "" y lo multiplica por 24
print(day)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [ ]:
timetable = day * 7 #crea 7 referencias de la misma lista
print(timetable)  #impirme

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [ ]:
timetable = [[""] * 24 for day in range(7)]   #crea una matriz de 7*24, 7 dias, 24 horas, donde cada dia es una lista independiente de 24 elemetos "
print(timetable)  #imprime

[['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']]